.user-profile-main {
    width: 100%;
    max-width: 1200px;
    margin-top: 5.5rem;
    flex: 1 0 auto;
}

.user-profile-content {
    display: grid;
    grid-template-columns: 2fr 11fr;
    gap: 1rem;
}

.user-nav {
    position: sticky;
    top: 5.5rem;
}

.user-nav ul {
    list-style: none;
}

.user-nav ul li {
    padding: .6rem 1rem;
    border-radius: .6rem;
}

.user-nav ul li:hover {
    cursor: pointer;
}

.user-nav a:hover {
    text-decoration: underline;
}

.user-nav .logout {
    color: var(--fc-a-link);
}

.user-nav .logout:hover {
    color: var(--fc-a-hover);
}

.client-homapage-nav-orders-section summary {
    margin-bottom: 0;
}

.client-homapage-nav-orders-section ul {
    margin-top: .5rem;
    margin-left: .5rem;
}

.client-homepage-main-section h1 {
    margin-bottom: 1.5rem;
}

.client-homepage-main-section-navbar {
    margin: 1rem 0 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.client-homepage-main-section-navbar button {
    border: 1px solid #ddd;
    border-radius: .6rem;
    width: 100%;
    padding: .6rem 1rem;
    font-size: 1rem;
    cursor: pointer;
}

.client-homepage-main-section-navbar .btn-active {
    background-color: #bebebe;
    cursor: default;
}

.client-homepage-main-section-navbar button:hover {
    background-color: var(--input-color-hover);
}

.order-list {
    width: 100%;
    padding: 1rem 0;
    display: none;
}

.order-list-show {
    display: block;
}

.order-tab {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: wrap;
    width: 93.5%;
    padding: 1rem 2rem;
    margin-bottom: .6rem;
    border: 1px solid #ddd;
    border-radius: .6rem;
    box-shadow: 1px 1px 40px rgba(0, 0, 0, 0.1);
}

.order-tab > h2 {
    width: 100%;
}

.order-tab > h2 a {
    color: #3b82f6;
    cursor: pointer;
}

.order-tab > h2 a:hover {
    color: #5aa1f6;
    text-decoration: underline;
}

.order-tab div:last-child {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.order-tab div:last-child :first-child {
    margin-bottom: .6rem;
}

.order-tab div :nth-child(2) {

    display: flex;
}

.order-tab-button-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order-tab-button-section > a:last-child {
    color: #3b82f6;
    cursor: pointer;
}

.order-tab-button-section > a:last-child:hover {
    color: #5aa1f6;
    text-decoration: underline;
}

.order-info {
    color: var(--fc-a-link);
    width: max-content;
}

.order-info:hover {
    color: var(--fc-a-hover);
    text-decoration: underline;
}

.order-cancel-btn {
    text-align: center;
    color: white;
    font-size: 1rem;
    padding: .6rem 1rem;
    border: none;
    border-radius: .6rem;
    background-color: var(--btn-col);
    margin-bottom: .6rem;
}

.order-cancel-btn:hover {
    background-color: var(--btn-col-hover);
}

.related_spec_item {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 1rem 0;
    padding: 1rem 2rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: .6rem;
    box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.1);
}

.spec_name {
    width: 100%;
    margin-bottom: .6rem;
}

.spec_name a {
    color: #3b82f6;
    font-size: 1.5rem;
}

.spec_name a:hover {
    color: #5aa1f6;
    text-decoration: underline;
}

.spec_order_mode {
    color: #677777;
}

.spec_contact_info {
    font-size: 1.1rem;
    margin-top: 1rem;
}

.spec_contact_info span {
    color: #c00000;
}

.review_btn {
    padding: .6rem 1rem;
    border-radius: .6rem;
    font-size: 1.1rem;
    color: #eee;
    background-color: var(--btn-col);
}

.review_btn:hover {
    background-color: var(--btn-col-hover);
}

.client_link_to_spec {
    color: #3b82f6;
}

.client_link_to_spec:visited {
    color: #7b11ff;
}

.client_link_to_spec:hover {
    color: #5aa1f6;
    text-decoration: underline;
}