.spec-new-orders-main nav ul {
    list-style: none;
    display: flex;
}

.spec-new-orders-main nav ul li {
    margin-right: 1rem;
}

.spec-new-orders-main nav ul a {
    text-align: center;
    cursor: pointer;
    padding: .6rem 1rem;
    border-radius: .6rem;
    font-size: 1.1rem;
    background-color: var(--input-color);
}

.spec-new-orders-main nav ul a:hover {
    background-color: var(--input-color-hover);
}

.spec-search-order-form {
    display: flex;
    flex-flow: column wrap;
    margin: 1.5rem 0;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    background-color: rgba(66, 112, 159, 0.27);
}

.spec-search-order-form label {
    font-size: 1.1rem;
    margin-bottom: .3rem;
}

.spec-search-order-form input[type=text] {
    padding: .3rem .6rem;
    font-size: 1rem;
    margin-bottom: .5rem;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.spec-search-order-form button {
    border: none;
    border-radius: .6rem;
    padding: .6rem 1rem;
    margin-top: 1.2rem;
    color: white;
    font-size: 1.1rem;
    background-color: var(--btn-col);
    cursor: pointer;
}

.spec-search-order-form button:hover {
    background-color: var(--btn-col-hover);
}

.spec-new-order-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: wrap;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: .6rem 1rem;
    margin: 1rem 0;
}

.spec-new-order-item > h1 {
    width: 100%;
}

.spec-new-order-item h1 a {
    font-size: 1.5rem;
    color: #3b82f6;
}

.spec-new-order-item h1 a:visited {
    color: #7b11ff;
}

.spec-new-order-item h1 a:hover {
    color: #62a8fd;
}

.spec-new-order-item time {
    margin-left: .5rem;
    font-size: 0.95rem;
    color: rgba(0, 0, 0, 0.5);
}

.spec-new-order-item div:last-child form {
    display: flex;
    flex-flow: column wrap;
    text-align: right;
}

.spec-new-order-item button {
    padding: .6rem 1rem;
    margin-top: .5rem;
    border: none;
    border-radius: .6rem;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    background-color: var(--btn-col);
}

.spec-new-order-item button:hover {
    background-color: var(--btn-col-hover);
}

.spec-new-order-h1 {
    margin-top: 1.5rem;
}