.spec-profile-main-section p {
    font-size: 1.1rem;
}

.spec-profile-name {
    font-size: 1.5rem !important;
    font-weight: bold;
    margin-bottom: .5rem;
}

.spec_profile_img {
    display: flex;
    justify-content: center;
    min-width: 210px;
    margin-right: 3rem;
}

.spec_profile_img img {
    height: 200px;
    max-width: 200px;
}

.spec-profile-main-section header {
    display: flex;
}

.spec-profile-rating-and-review {
    display: flex;
    margin-top: 2rem;
}

.spec-profile-rating-and-review div {
    display: flex;
    align-items: center;
    margin-right: 2rem;
}

.spec-profile-rating-and-review div span {
    font-size: 1.5rem;
    font-weight: bold;
}

.spec-profile-rating-and-review div a:hover {
    color: var(--btn-col);
}

.spec-profile-rating-and-review img {
    width: 2rem;
    margin-right: .5rem;
}

.offer-button {
    margin: 2.5rem 0 !important;
}

.offer-button a {
    padding: .6rem 1rem;
    border: none;
    border-radius: .6rem;
    background-color: var(--btn-col);
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
}

.offer-button a:hover {
    background-color: var(--btn-col-hover);
}

.spec-profile-main-section > div {
    margin: 1.5rem 0;
}

.spec-profile-main-section > div > h2 {
    margin-bottom: .6rem;
}

.spec-profile-experience ul {
    list-style-position: inside;
}

.spec-profile-experience ul li {
    margin-bottom: .6rem;
}

.spec-profile-portfolio header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.spec-profile-portfolio header img {
    width: 1rem;
}

.portfolio_add_button {
    padding: .4rem .2rem .4rem .6rem;
    background-color: var(--input-color);
    font-size: .9rem;
    border-radius: .3rem;
    display: flex;
    align-items: center;
    box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.09);
    cursor: pointer;
}

.portfolio_add_button:hover {
    background-color: var(--input-color-hover);
}

.spec-profile-portfolio h2 span {
    color: #777777;
    font-weight: normal;
}

.spec-profile-services div {
    margin-bottom: .5rem;
}

.spec-services-table{
    width: 100%;
}

.spec-services-table td {
    padding-bottom: .6rem;
}

.spec-services-table span {
    font-size: 1.1rem;
    font-weight: bold;
}

.item_value {
    text-align: right;
}

.spec-profile-review header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.spec-profile-review header h2 span {
    font-weight: normal;
    color: rgba(0, 0, 0, 0.5);
}

.spec-profile-review header img {
    width: 1.5rem;
    margin-right: .5rem;
}

.spec-profile-review header div {
    display: flex;
    align-items: center;
}

.spec-profile-review header div span {
    font-size: 1.5rem;
    font-weight: bold;
}

.spec-profile-review-item {
    display: flex;
    margin: 1.5rem 0;
}

.review-info {
    padding-left: 3rem;
}

.review-info > p {
    margin-bottom: .5rem;
}

.spec-profile-client-service {
    color: rgba(0, 0, 0, 0.5);
}

.spec-profile-review-rating {
    min-width: 130px;
}

.spec-profile-review-rating div {
    display: flex;
}

.spec-profile-review-rating div img {
    width: 1.2rem;
    margin-right: 5px;
    margin-bottom: .5rem;
}

.spec-profile-review-rating time {
    color: rgba(0, 0, 0, 0.5);
}

.spec-profile-review a {
    color: var(--btn-col);
    cursor: pointer;
    text-decoration: underline;
}

.spec-profile-review a:hover {
    color: var(--btn-col-hover);
}

/* PROFILE SECTION */

.row {
    display: flex;
    flex-flow: row wrap;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
    margin: 5px;
}

.column img {
    height: 150px;
    border-radius: 3%;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}

/* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Caption text */
.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}

img.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}