.profile_edit_main > h1 {
    margin-bottom: 1rem;
}

.profile_edit_main table {
    margin-bottom: 2rem;
    font-size: 1.2rem;
}

.profile_edit_main table tr td {
    padding: .3rem 0;
    margin-bottom: 1rem;
    min-width: 200px;
}

.profile_edit_main > form  div {

    margin: .6rem 0;
}

.profile_edit_main > form > div input {
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.profile_edit_main > form > div input,
.profile_edit_main > form > div label {
    font-size: 1rem;
    display: block;
}