<footer class="main-footer">
    <div class="footer-container">
        <div class="footer-logo">
            <a href="#">LOGO</a>
        </div>
        <div class="footer-col">
            <ul>
                <li><a href="">Создать заказ</a></li>
                <li><a href="">Каталог услуг</a></li>
                <li><a href="">Отзывы</a></li>
                <li><a href="">История заказов</a></li>
                <li><a href="">О компании</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <p class="footer-contact-info-para">Контактных данные:</p>
            <section>
                Телефон службы поддержки:
                <span><a href="">+7 999 999-99-99</a></span>
            </section>
            <section>
                Электронная почта службы поддержки:
                <span><a href="">example@mail.dom</a></span>
            </section>
        </div>
    </div>
</footer>